@using Model.ViewModel.Reports
@model ParameterReportEmployeesInDepartment
@{
    ViewData["Title"] = "AllReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reports</h1>

<h4>Employees for the period of the selected department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Generate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="DateStart" class="control-label"></label>
                <input asp-for="DateStart" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DateStart" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="DateEnd" class="control-label"></label>
                <input asp-for="DateEnd" type="date" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="DateEnd" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Department" class="control-label"></label>
                <select asp-for="DepartmentId" asp-items="@ViewBag.AllDepartments" class="form-control">
                    <option value=@null>Select a Department</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="row">
                <div>
                    <input type="submit" value="Generate" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

